@font-face {
    font-family: 'bariol_iconsregular';
    src: url('../fonts/bariol_icons-webfont.eot');
    src: url('../fonts/bariol_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_icons-webfont.woff2') format('woff2'),
         url('../fonts/bariol_icons-webfont.woff') format('woff'),
         url('../fonts/bariol_icons-webfont.ttf') format('truetype'),
         url('../fonts/bariol_icons-webfont.svg#bariol_iconsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0 auto;
    padding: 1rem;
    max-width: 1000px;
}
p {
    font-family: serif;
}
a, button {
    fill: currentColor;
    color: inherit;
    background-color: inherit;
}

button:hover {
    color: grey;
}
button {
    border: none;
}
.icon {
    font-family: 'bariol_iconsregular';
    font-size: 2rem;
}
.icon.clear {
    font-size: 2.4rem;
}
